#_findForAddress.step
  .sites
  -test_address= "" #"1263 Pacific Ave. Kansas City KS"

  =text_field_tag :addressField, test_address, placeholder: translate("reporting.findMyPoll.addressPrompt"), autocomplete: "on"
  - findPrompt  = translate "reporting.findMyPoll.findPrompt"
  =link_to findPrompt, "javascript:;", class: "secondaryBtn baseBtn", id: "findMyPollingPlace", "data-loading-text"=> "Please wait..."
  .orLine
    %hr
    .orText.center
      %span=translate "reporting.findMyPoll.or"
  .center=link_to translate("reporting.findMyPoll.manual"), "#manual"
