#_loading.current.step.loadingStep
#_about.step
	.center=image_tag("/assets/pollwatch300.png", id: "logo")
	%h4=translate('reporting.home.info.title1')
	%p=translate('pages.about.p3')

	%a{name: "how"}
	%h4=translate('reporting.home.info.title2')
	%p
		=translate('reporting.home.info.p1')

	%ol
		%li=translate('reporting.home.info.l1')
		%li=translate('reporting.home.info.l2')
		%li=translate('reporting.home.info.l3')
	%a{name: "hotline"}
	%h4=translate('reporting.home.info.title3')
	%p=translate('reporting.home.info.p2')

	%a{name: "whereItGoes"}
	%h4=translate('reporting.home.info.title4')
	%p
		=translate('reporting.home.info.p3')

	%ul
		%li=translate('reporting.home.info.p4')
		%li=translate('reporting.home.info.p5')
		%li=translate('reporting.home.info.p6')
	%hr
	%small
		Icons by
		=link_to "The Noun Project", "http://thenounproject.com/"