-if flash[:notice] || flash[:error]
  #flash.container.clearfix
    .row.clearfix
      .span11
        -if flash[:notice]
          .alert
            =flash[:notice]
        -if flash[:error]
          .alert.alert-error
            =flash[:error]
